<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>kani-example-helloworld</display-name>
  <context-param>
    <description>Kani production mode</description>
    <param-name>productionMode</param-name>
    <param-value>false</param-value>
  </context-param>
  <servlet>
    <servlet-name>Kani_Application</servlet-name>
    <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
    <init-param>
      <description>Kani Application Class</description>
      <param-name>application</param-name>
      <param-value>org.kani.serviceloader.Application</param-value>
    </init-param>
    <init-param>
      <description>Kani Application Identifier</description>
      <param-name>kani.application.id</param-name>
      <param-value>org.kani.example.helloworld</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kani_Application</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>